@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  .icon{
    width: 30px;
    height: 100%;
    position: absolute;
    top: 50%;
    right: 0 ;
    transform: translate(-50%,-50%);
    cursor: pointer;
  }
  
  .hanburger{
    width: 30px;
    height:4px;
    background-color: #ffffff;
    box-shadow: 0 8px 0 #ffffff, 0 -8px 0 #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}